<!DOCTYPE html>
<html lang="en">
    
  <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TRAFFIC COLLISION STATISTICS</title>
</head>
<body>
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42625D;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html"><b>TRAFFIC COLLISION STATISTICS</b></a>
                
    <ul class="nav justify-content-end" style="background-color: #42625D;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ABOUT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/templates/abstract.html">ABSTRACT</a></li>
          <li><a class="dropdown-item" href="/templates/dataset.html">DATASET</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/templates/visualisation.html">VISUALISATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/prediction.html">PREDICTION APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/TSA.html">TIME SERIES ANALYSIS</a>
      </li>     
    </ul>
    </div>
      </nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-9"> <br><h2>VISUALISATION RELATED TO THE FEATURE HOUR</h2></div>
  </div>
</div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/static/images/Hour/hour vs sex.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hour Vs Victim Sex</h5>
              <p class="card-text"><ul>
                <li>Males which collision occurred around 5.00 PM has the highest percentage.</li>
                <li>For Female also 5.00 PM is most accident-prone hour.</li> 
                <li>We can observe a steady increase from 4.00 AM onwards.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs hourly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hour Vs Age</h5>
              <p class="card-text"><ul>
                <li>Accidents increases from 5.00 PM onwards.</li>
                <li>5.00 PM is most accident-prone hour of the day.</li> 
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Area/area vs hourly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hour Vs Area</h5>
              <p class="card-text"><ul>
                <li>77th Street, Wilshire, Southwest, West LA tops the list.</li>
                <li>5.00 PM is most people lost their lives.</li> 
                <li>Accidents increases in evening time in most areas.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Hour/hour vs descent.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hour Vs Victim Descent</h5>
              <p class="card-text"><ul>
                <li>1</li>
                <li>2</li> 
                <li>3</li>
              </ul></p>
            </div>
          </div>
        </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Hour/hour vs monthly.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hour Vs Monthly</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Hour/hour vs yearly.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hour Vs Yearly</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="visualisation.html"><button type="button" class="btn btn-success">BACK</button></a>   
</body>
</html>