<!DOCTYPE html>
<html lang="en">
    
  <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TRAFFIC COLLISION STATISTICS</title>
</head>
<body>
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42625D;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html"><b>TRAFFIC COLLISION STATISTICS</b></a>
                
    <ul class="nav justify-content-end" style="background-color: #42625D;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ABOUT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/templates/abstract.html">ABSTRACT</a></li>
          <li><a class="dropdown-item" href="/templates/dataset.html">DATASET</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/templates/visualisation.html">VISUALISATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/prediction.html">PREDICTION APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/TSA.html">TIME SERIES ANALYSIS</a>
      </li>     
    </ul>
    </div>
      </nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-9"> <br><h2>VISUALISATION RELATED TO THE FEATURE MONTH</h2></div>
  </div>
</div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/static/images/Month/monthly count.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Frequency Plot Of Month</h5>
              <p class="card-text"><ul>
                <li>1</li>
                <li>2</li> 
                <li>3</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Month/monthly days count.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Frequency Plot Of Monthly days</h5>
              <p class="card-text"><ul>
                <li>1</li>
                <li>2</li> 
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs monthly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Month Vs Age</h5>
              <p class="card-text"><ul>
                <li>August is the most accident occurring month.</li>
                <li>Middle aged people met with accidents in October and August.</li> 
                <li>March, January, February also has high victims.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Area/area vs monthly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Month Vs Area</h5>
              <p class="card-text"><ul>
                <li>77th Street had the highest collision in the city and October tops in that.</li>
                <li>Hollenbeck can be the safest place to drive in the city.</li> 
                <li>Most collisions occurred in October for most of the cities.</li> 
              </ul></p>
            </div>
          </div>
        </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Victim Descent/descent vs monthly.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Month Vs Victim Descent</h5>
                  <p class="card-text"><ul>
                    <li>Hispanic/Latin/Mexican records most victims.</li>
                    <li>Most groups have highest victims in October and august.</li> 
                    <li>March also shows high number of victims.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Hour/hour vs monthly.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Month Vs Hour</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Week/week vs monthly.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Month Vs Week</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Year/year vs monthly.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Month Vs Year</h5>
                  <p class="card-text"><ul>
                    <li>2019 shows a steady increase through the months.</li>
                    <li>Notice the sharp decline in April, may, June in 2020 due to COVID.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Month/month vs sex.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Month Vs Sex</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="visualisation.html"><button type="button" class="btn btn-success">BACK</button></a>   
</body>
</html>