<!DOCTYPE html>
<html lang="en">
    
  <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TRAFFIC COLLISION STATISTICS</title>
</head>
<body>
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42625D;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html"><b>TRAFFIC COLLISION STATISTICS</b></a>
                
    <ul class="nav justify-content-end" style="background-color: #42625D;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ABOUT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/templates/abstract.html">ABSTRACT</a></li>
          <li><a class="dropdown-item" href="/templates/dataset.html">DATASET</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/templates/visualisation.html">VISUALISATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/prediction.html">PREDICTION APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/TSA.html">TIME SERIES ANALYSIS</a>
      </li>     
    </ul>
    </div>
      </nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-9"> <br><h2>VISUALISATION RELATED TO THE FEATURE AGE</h2></div>
  </div>
</div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age count.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Frequency Plot</h5>
              <p class="card-text"><ul>
                <li>1</li>
                <li>2</li> 
                <li>3</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs weekday.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Age Vs Weekday</h5>
              <p class="card-text"><ul>
                <li>The highest point in the graph shows that victim age is 30 and Friday.</li>
                <li>The lowest point is age 15 and Sunday.</li> 
                <li>Most victims are in Friday and Saturday, Sunday gives the lowest.</li>
                <li>There is an unusual spike in age 99.</li>
                <li>People should drive more careful in Friday to avoid collisions.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs hourly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Age Vs Hourly</h5>
              <p class="card-text"><ul>
                <li>Accidents increases from 5.00 PM onwards.</li>
                <li>5.00 PM is most accident-prone hour of the day.</li> 
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs monthly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Age Vs Monthly</h5>
              <p class="card-text"><ul>
                <li>August is the most accident occurring month.</li>
                <li>Middle aged people met with accidents in October and August.</li> 
                <li>March, January, February also has high victims.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Age/age vs yearly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Age Vs Yearly</h5>
              <p class="card-text"><ul>
                <li>Victim age 19 have the highest peak in the year 2020.</li>
                <li>Victim age 18 tops in 2019.</li> 
                <li>This is a serious problem; the government should take policies to prevent this.</li>
                <li>The city’s youth is the highest victims in past years.</li>
              </ul></p>
            </div>
          </div>
        </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Age/age vs premises.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Age Vs Premises</h5>
                  <p class="card-text"><ul>
                    <li>Most of the accidents occurred in Street.</li>
                    <li>Parking Lot is 2nd in list.</li> 
                    <li>After age 30 the count decreases.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Age/age vs area.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Age Vs Area</h5>
                  <p class="card-text"><ul>
                    <li>77th Street is most accident occurring area.</li>
                    <li>Wilshire, Topanga also have high accident rates.</li> 
                    <li>Foothill is one of the safest places in city.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Age/age vs descent.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Age Vs Victim Descent</h5>
                  <p class="card-text"><ul>
                    <li>Hispanic/Latin/Mexican group have the highest victims.</li>
                    <li>Whites takes second place.</li> 
                    <li>People of age group 20-40 is higher compared to others.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Age/age vs sex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Age Vs Victim Sex</h5>
                  <p class="card-text"><ul>
                    <li>Male dominates the collisions.</li>
                    <li>There is a sharp increase in age 50 of male.</li> 
                    <li>Females having age 25 is having large numbers.</li>
                    <li>Age 99 have very unusual rise.</li>
                    <li>People should drive more careful in Friday to avoid collisions.</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="visualisation.html"><button type="button" class="btn btn-success">BACK</button></a>   
</body>
</html>