<!DOCTYPE html>
<html lang="en">
    
  <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TRAFFIC COLLISION STATISTICS</title>
</head>
<body>
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42625D;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html"><b>TRAFFIC COLLISION STATISTICS</b></a>
                
    <ul class="nav justify-content-end" style="background-color: #42625D;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ABOUT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/templates/abstract.html">ABSTRACT</a></li>
          <li><a class="dropdown-item" href="/templates/dataset.html">DATASET</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/templates/visualisation.html">VISUALISATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/prediction.html">PREDICTION APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/templates/TSA.html">TIME SERIES ANALYSIS</a>
      </li>     
    </ul>
    </div>
      </nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-9"> <br><h2>VISUALISATION RELATED TO THE FEATURE YEAR</h2></div>
  </div>
</div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/static/images/Year/yearly count.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Frequency Plot</h5>
              <p class="card-text"><ul>
                <li>1</li>
                <li>2</li> 
                <li>3</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Year/year vs weekly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Year Vs Weekly</h5>
              <p class="card-text"><ul>
                <li>2019 is in top of the list in past years.</li>
                <li>However, 2017 overtook 2018 claiming 2nd spot.</li> 
                <li>2020 is very low due to Covid and lockdown.</li>
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Year/year vs monthly.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Year Vs Monthly</h5>
              <p class="card-text"><ul>
                <li>2019 shows a steady increase through the months.</li>
                <li>Notice the sharp decline in April, may, June in 2020 due to COVID.</li> 
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Year/year vs age.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Year Vs Age</h5>
              <p class="card-text"><ul>
                <li>First thing we notice the unusual outlier in 2019,2020.</li>
                <li>Age 18,19 is having very high count in 2019,2020.</li> 
              </ul></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/images/Year/year vs descent.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Year Vs Victim Descent</h5>
              <p class="card-text"><ul>
                <li>Hispanic/Latin/Mexican group have most cases.</li>
                <li>From 2015 onwards black group increases sharply.</li> 
                <li>Korean is least in list.</li>
              </ul></p>
            </div>
          </div>
        </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Year/year vs sex.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Year Vs Victim Sex</h5>
                  <p class="card-text"><ul>
                    <li>Collisions increase drastically from 2014 in all three sex categories.</li>
                    <li>From 2019 onwards it decreases.</li> 
                    <li>Male in 2017 have highest % (6.04) of the total collisions.</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Year/year vs area.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Year Vs Area</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/Year/year vs hourly.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Year Vs Hourly</h5>
                  <p class="card-text"><ul>
                    <li>1</li>
                    <li>2</li> 
                    <li>3</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="visualisation.html"><button type="button" class="btn btn-success">BACK</button></a>   
</body>
</html>