<!DOCTYPE html>
<html lang="en">
    
  <link rel="shortcut icon" href="/static/images/icon.jpg" type="image/x-icon"> 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>TRAFFIC COLLISION STATISTICS</title>
</head>
<body>
    
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #42625D;">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><b>TRAFFIC COLLISION STATISTICS</b></a>
                
    <ul class="nav justify-content-end" style="background-color: #42625D;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ABOUT</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="abstract.html">ABSTRACT</a></li>
          <li><a class="dropdown-item" href="dataset.html">DATASET</a></li>
          </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="visualisation.html">VISUALISATION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prediction.html">PREDICTION APP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="TSA.html">TIME SERIES ANALYSIS</a>
      </li>     
    </ul>
    </div>
      </nav>


      <br>
      <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-sm-2 col-md-6" style="background-color: #EEEEE6;">
            <div class="card-body">
              <h1 class="card-title">INTRODUCTION</h1>
              <p class="card-text">A traffic collision, also called a motor vehicle collision, car accident, or car crash, occurs when a vehicle collides with another vehicle, pedestrian, animal, road debris, or other stationary obstruction, such as a tree, pole or building. Traffic collisions often result in injury, disability, death, and property damage as well as financial costs to both society and the individuals involved. Road transport is the most dangerous situation people deal with on a daily basis, but casualty figures from such incidents attract less media attention than other, less frequent types of tragedy.<br>
                <br>A number of factors contribute to the risk of collisions, including <i>vehicle design, speed of operation, road design, weather, road environment, driving skills, impairment due to alcohol or drugs, and behavior, notably aggressive driving, distracted driving, speeding and street racing</i>.</p>
              
              </div>
          </div>
          <div class="col-md-6">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/images/Index/1.jpg" class="d-block" width="100%" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/images/Index/2.jpg" class="d-block" width="100%" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/static/images/Index/3.jpg" class="d-block" width="100%" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        </div>
      </div>
      <div class="text-center">
        <a href="prediction.html"><button type="button" class="btn btn-success">PREDICT NOW !</button></a>
      </div>
</body>
</html>